.nav-title {
    justify-content: flex-start;
}
.nav-title-text{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000;
}
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
nav.header a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
nav.header a:hover{
    color: goldenrod;
}
@media (max-width: 768px) {
    .nav-title-text{
        font-size: 20px;
    }
    nav.header a{
        font-size: 12px;
        margin-left: 10px;
    }
    .header-img{
        width: 40px;
    }
    .header{
        padding-left: 0px;
        padding-right: 5px;
    }
}